 
<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>

      <md-input-container>
        <label>Buscar cliente</label>
        <input ng-model="data">
      </md-input-container>

     
    </div>

    <button ng-click="exportData()" >Exportar</button>
  </md-content>
 <div class="row marketing"  style="width: 220%;" >
                 <div class="datagrid">
                   <table >
                      <thead>
                         <tr>
                              <th>Nombre cliente</th>
                              <th>Alias</th>
                              <th>Nit o CC</th>
                              <th>Tipo cliente</th>
                              <th>Nombre del negocio</th>
                              <th>Ciudad</th>
                              <th>Direccion</th>
                              <th>Telefono</th>
                              <th>Email</th>
                              <th>Redes sociales</th>
                              <th>Quien toma desicion</th>
                              <th>Distribuidor principal</th>
                              <th>Observaciones</th>
                              <th>Cliente skink </th>
                              <th>Usa productos skink</th>
                              <th>Recomienda</th>
                              <th>Dispensador</th>
                              <th>Dispensador y recomienda</th>     
                              <th>Editar</th>
                              
                          </tr>
                      </thead>
                 
                      <tbody>
                          <tr  
                           dir-paginate="cli in clientesData | filter: data |  itemsPerPage: 15 " pagination-id="clientes">
                              <td><input type="text" ng-disabled="!cli.edit" ng-model="cli.nombreCliente"></td>
                              <td><input type="text" ng-disabled="!cli.edit" ng-model=" cli.alias"></td>
                              <td><input type="text" ng-disabled="!cli.edit" ng-model="cli.nitCC"></td>
                              <td>
                                <select ng-disabled="!cli.edit" ng-model="cli.tipoCliente">
                                  <option value="Distribuidor">Distribuidor</option>
                                  <option value="Tatuador">Tatuador</option>
                                  <option value="Cliente final">Cliente final</option>
                                  </select>
                              </td>
                              <td><input type="text" ng-disabled="!cli.edit" ng-model="cli.nombreNegocio"></td>
                              <td>
                                  <select ng-disabled="!cli.edit" ng-model="cli.ciudad">
                                    <option value="Bogotá">Bogotá</option>
                                    <option value="Medellin">Medellin</option>
                                    <option value="Cali">Cali</option>
                                    <option value="Cucuta">Cucuta</option>
                                    <option value="Ecuador">Ecuador</option>
                                  </select>
                              </td>
                              <td><input type="text" ng-disabled="!cli.edit" ng-model="cli.direccion"></td>
                              <td><input type="text" ng-disabled="!cli.edit" ng-model="cli.telefono"></td>
                               <td><input type="text" ng-disabled="!cli.edit" ng-model="cli.email"></td>
                                 <td><input type="text" ng-disabled="!cli.edit" ng-model="cli.redesSociales"></td>
                              <td><input type="text" ng-disabled="!cli.edit" ng-model="cli.quienTomaDesicion"></td>
                              <td><input type="text" ng-disabled="!cli.edit" ng-model="cli.distribuidorPrincipal"></td>
                              <td><input type="text" ng-disabled="!cli.edit" ng-model="cli.observaciones"></td>
                              <td>
                                 <center>
                                  <md-checkbox  ng-disabled="!cli.edit" ng-model="cli.clienteSkink">
                                  </md-checkbox>
                                 </center> 
                              </td>
                              <td>
                                 <center>
                                  <md-checkbox ng-disabled="!cli.edit" ng-model="cli.usaProductosSkink">
                                  </md-checkbox>
                                 </center> 
                              </td>
                              <td> 
                                 <center>                             
                                  <md-checkbox ng-disabled="!cli.edit" ng-model="cli.recomiendaSkink">
                                  </md-checkbox>
                                 </center> 
                              </td>
                               <td> 
                                 <center>                             
                                  <md-checkbox ng-disabled="!cli.edit" ng-model="cli.dispensador">
                                  </md-checkbox>
                                 </center> 
                              </td>
                               <td> 
                                 <center>                             
                                  <md-checkbox ng-disabled="!cli.edit" ng-model="cli.dispensadorRecomiendaSkink">
                                  </md-checkbox>
                                 </center> 
                              </td>
                              <td>
                                  <md-button class="md-raised md-primary" ng-click="edit( $index , cli.$id)" >Editar</md-button>
                              </td>

                              
                          </tr>
                       
                      </tbody>
                  </table>
                   <center> 
                         <dir-pagination-controls pagination-id="clientes"></dir-pagination-controls>
                      </center>
                 </div>
                </div>
