 <h3 class="md-display-2">Pedidos</h3>
   <md-button class="md-raised md-primary"  ng-click="exportData()" >Exportar</md-button>
  <div class="row marketing">
                 <div class="datagrid" style="width: 150%;">
                   <table >
                      <thead>
                         <tr>
                          <th>Editar</th>
                              <th>Detalle</th>
                              <th>Fecha</th>
                              <th>Cliente</th>
                              <th>Observaciones</th>
                              <th>Vendedor</th>
                              <th>Tipo venta</th>
                              <th>Tipo pago</th>
                              <th>Descuento</th>
                              <th>Lote</th>                              
                              <th>Total</th>
                              <th style="width: 20%" >Guia</th>
                              <th style="width: 20%">N. Factura</th>
                              <th>Entregado</th>
                             
                          </tr>
                      </thead>
                 
                      <tbody>

                          <tr 
                            dir-paginate="visita in pedidosData | reverse  | itemsPerPage: 50" pagination-id="pedidos">
                                 <td>
                                  <md-button class="md-raised md-primary" ng-click="edit( $index , visita.$id)" >Editar</md-button>
                              </td>
                              <td>
                                  <md-button class="md-raised md-primary" ng-click="detallePedido( visita.$id)" >Detalle</md-button>
                              </td>
                              <td> <label ng-bind="formatDate(visita.fecha) |  date:'MM/dd/yyyy HH:mm'"></label></td>

                              <td>{{visita.nombreCliente}}</td>
                              <td>{{visita.observaciones}}</td>
                              <td>{{visita.idVendedor}}</td>
                              <td>{{visita.tipoVenta}}</td>
                              <td>{{visita.canalPago}}</td>
                              
                               <td><input type="text" ng-disabled="!visita.editp" ng-model="visita.descuento"></td>
                                <td><input type="text" ng-disabled="!visita.editp" ng-model="visita.lote"></td>
                              <td><input type="text" ng-disabled="!visita.editp" ng-model="visita.total"></td>
                              <td style="width: 10%"><input type="text" ng-disabled="!visita.editp" ng-model="visita.guia" style="width: 90%"></td>
                              <td><input type="text" ng-disabled="!visita.editp" ng-model="visita.numeroFactura" style="width: 90%">

                              </td>
                              <td> 
                                  <center>
                                      <md-checkbox  ng-disabled="!visita.editp" ng-model="visita.entregado">
                                      </md-checkbox>
                                  </center>                                     
                              </td>

                            
                          </tr>
                       
                      </tbody>
                  </table>
                      <center> 
                         <dir-pagination-controls pagination-id="pedidos"></dir-pagination-controls>
                      </center>
                 </div>
                </div>
                <div class="row marketing">
                 <div class="datagrid">
                   <table>
                      <thead>
                         <tr>
                              <th>Producto</th>
                              <th>Cantidad</th>
                              <th>Valor x unidad</th>
                              <th>total </th> 
                          </tr>
                      </thead>
                 
                      <tbody>
                          <tr ng-repeat="visita in dataProductos">
                              <td>{{visita.descripcion}}</label></td>
                              <td>{{visita.cantidad}}</td>
                              <td>{{visita.valor}}</td>
                              <td>{{visita.cantidad * visita.valor }}</td>
                          </tr>
                       
                      </tbody>
                  </table>
                  
                 </div>
                </div>