<div ng-cloak>
  <md-content>

   <h3 class="md-display-2">Visitas</h3>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Apoyo">
        <md-content class="md-padding">
         <md-button class="md-raised md-primary"  ng-click="exportar('Apoyo')" >Exportar visitas apoyo</md-button>
              <div class="row marketing">
                 <div class="datagrid">
                   <table>
                      <thead>
                         <tr>
                              <th>Fecha</th>
                              <th>Cliente</th>
                              <th>Observaciones</th>
                              <th>Vendedor</th>
                          </tr>
                      </thead>
                 
                      <tbody>
                          <tr 
                           dir-paginate="visita in apoyoVisitas | reverse  | itemsPerPage: 10 " pagination-id="apoyo">
                              <td> <label ng-bind="formatDate(visita.fecha) |  date:'MM/dd/yyyy HH:mm'"></label></td>
                              <td>{{visita.nombreCliente}}</td>
                              <td>{{visita.observaciones}}</td>
                              <td>{{visita.vendedor}}</td>
                          </tr>
                       
                      </tbody>
                  </table>
                  <center> 
                         <dir-pagination-controls pagination-id="apoyo"></dir-pagination-controls>
                      </center>
                 </div>
                </div>
        </md-content>
      </md-tab>
      <md-tab label="Cumplimiento ruta">
        <md-content class="md-padding">    
              <md-button class="md-raised md-primary"  ng-click="exportar('Cumplimiento')" >Exportar visitas cumplimiento ruta </md-button>      
            <div class="row marketing">
                 <div class="datagrid">
                   <table>
                      <thead>
                         <tr>
                              <th>Fecha</th>
                              <th>Cliente</th>
                              <th>Observaciones</th>
                              <th>Vendedor</th>
                          </tr>
                      </thead>
                 
                      <tbody>
                          <tr dir-paginate="visita in apoyoCumplimiento | reverse | itemsPerPage: 10 " pagination-id="cumplimiento">
                              <td>  <label ng-bind="formatDate(visita.fecha) |  date:'MM/dd/yyyy HH:mm'"></label></td>
                              <td>{{visita.nombreCliente}}</td>
                              <td>{{visita.observaciones}}</td>
                              <td>{{visita.vendedor}}</td>
                          </tr>
                       
                      </tbody>
                  </table>
                   <center> 
                         <dir-pagination-controls pagination-id="cumplimiento"></dir-pagination-controls>
                      </center>
                 </div>
                </div>
         
        </md-content>
      </md-tab>
       <md-tab label="Cobro">
        <md-content class="md-padding">  
          <md-button class="md-raised md-primary"  ng-click="exportar('Cobro')" >Exportar visitas cobro </md-button>        
            <div class="row marketing">
                 <div class="datagrid">
                   <table>
                      <thead>
                         <tr>
                              <th>Fecha</th>
                              <th>Cliente</th>
                              <th>Observaciones</th>
                              <th>Vendedor</th>
                              <th>N factura</th>
                          </tr>
                      </thead>
                 
                      <tbody>
                          <tr 
                          dir-paginate="visita in apoyoCobro  | reverse   | itemsPerPage: 10 " pagination-id="cobro">
                              <td> <label ng-bind="formatDate(visita.fecha) |  date:'MM/dd/yyyy HH:mm'"></label></td>
                              <td>{{visita.nombreCliente}}</td>
                              <td>{{visita.observaciones}}</td>
                              <td>{{visita.vendedor}}</td>
                              <td>{{visita.facturaNumero}}</td>
                          </tr>
                       
                      </tbody>
                  </table>
                   <center> 
                         <dir-pagination-controls pagination-id="cobro"></dir-pagination-controls>
                      </center>
                 </div>
                </div>
        </md-content>
      </md-tab>
       <md-tab label="Entrega">

        <md-content class="md-padding">
             <md-button class="md-raised md-primary"  ng-click="exportar('Entrega')" >Exportar visitas entrega </md-button>   
                <div class="row marketing">
                 <div class="datagrid">
                   <table>
                      <thead>
                         <tr>
                              <th>Fecha</th>
                              <th>Cliente</th>
                              <th>Observaciones</th>
                              <th>Vendedor</th>
                              <th>N factura</th>
                          </tr>
                      </thead>
                 
                      <tbody>
                          <tr
                           dir-paginate="visita in apoyoEntrega  | reverse | itemsPerPage: 10 " pagination-id="entrega">
                              <td> <label ng-bind="formatDate(visita.fecha) |  date:'MM/dd/yyyy HH:mm'"></label></td>
                              <td>{{visita.nombreCliente}}</td>
                              <td>{{visita.observaciones}}</td>
                              <td>{{visita.vendedor}}</td>
                              <td>{{visita.facturaNumero}}</td>
                          </tr>
                       
                      </tbody>
                  </table>
                     <center> 
                         <dir-pagination-controls pagination-id="entrega"></dir-pagination-controls>
                      </center>
                 </div>
                </div>
        </md-content>
      </md-tab>
       <md-tab label="Reclamación">
        <md-content class="md-padding">
              <md-button class="md-raised md-primary"  ng-click="exportar('Reclamacion')" >Exportar visitas reclamacion </md-button>
           <div class="row marketing">
                 <div class="datagrid">
                   <table>
                      <thead>
                         <tr>
                              <th>Fecha</th>
                              <th>Cliente</th>
                              <th>Observaciones</th>
                              <th>Vendedor</th>
                          </tr>
                      </thead>
                 
                      <tbody>
                          <tr  dir-paginate="visita in apoyoReclamacion | reverse  | itemsPerPage: 10 " pagination-id="reclamacion">
                              <td> <label ng-bind="formatDate(visita.fecha) |  date:'MM/dd/yyyy HH:mm'"></label></td>
                              <td>{{visita.nombreCliente}}</td>
                              <td>{{visita.observaciones}}</td>
                              <td>{{visita.vendedor}}</td>
                          </tr>
                       
                      </tbody>
                  </table>
                    <center> 
                         <dir-pagination-controls pagination-id="reclamacion"></dir-pagination-controls>
                      </center>
                 </div>
                </div>
        </md-content>
      </md-tab>
     
    </md-tabs>
  </md-content>
</div>



